<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITransaction" />
                <binding name="WSHttpBinding_IATMWITHDRAW" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/transac"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITransaction"
                contract="Transaction.ITransaction" name="WSHttpBinding_ITransaction">
                <identity>
                    <userPrincipalName value="KRUNAL\parek" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Atmwith"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IATMWITHDRAW"
                contract="ATM1.IATMWITHDRAW" name="WSHttpBinding_IATMWITHDRAW">
                <identity>
                    <userPrincipalName value="KRUNAL\parek" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>